.products-view-container{
    .products-view-container-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .general-information-item-content{
            width: 49%;
            height: 100%;
            .general-information-table-container{
                border: 1px solid #e8e8e8;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                margin-top: 20px;
                .general-information-col{
                    border-bottom: 1px solid #e8e8e8;
                    display: flex;
                    align-items: center;
                    transition: all 0.3s, height 0s;
                    width: 100%;
                    &:last-child{
                        border-bottom: 0;
                    }
                    &:hover{
                        background: #e6f7ff;
                    }
                    p{
                        height: 40px;
                        width: 50%;
                        padding-left: 10px;
                        margin: 0;
                        flex-wrap: wrap;
                        display: flex;
                        align-items: center;
                        span{
                            margin-right: 5px;
                        }
                        &:first-child{
                            border-right: 1px solid #e8e8e8;
                        }
                        &.information-tab{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}